[mysqld]
# MariaDB tuning for Magento dev environments.
max_allowed_packet      = 256M
innodb_buffer_pool_size = 1G
innodb_log_file_size    = 256M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method     = O_DIRECT
sql_mode                = "STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci

[mysqldump]
quick
quote-names
max_allowed_packet      = 256M
